venv
static_in_env
*.pyc
.DS_store

# Python3 testing env
pythenv
pythenv/

# Ignore IDE files
.idea
.idea/
.vscode
.vscode/

# Ignore DB file
*.sqlite3

# Ignore my notes
notes.txt

# Server Configuration
secret.py
production_settings.py