{% extends 'base.html' %}
{% load staticfiles %}

{%block content %}
<h1>Who are we?</h1>
<div class='row'>
	<div class='col-sm-8'>
		<h2>Beta Epsilon Chapter at U of M</h2>
		<p>At the University of Michigan, HKN is composed of the top electrical, computer, and computer sciecne engineers in the College of Engineering and the College of Literature, Science &amp; Arts. Students that are either in the top 1/4 of their Junior class or 1/3 of their senior class are invited to join each semester.</p>
		<h3>Socials</h3>
		<p>We are college students and we like to have fun! Each semester we have tons of social events to mingle with other members of HKN and meet students in other student orginizations. Some of our favorite socials include: Whirlyball, bowling, TGs (Bar nights), karaoke, and lasertag.
		<h3>Community Service Projects</h3>
		<p>As an orginization, HKN values serving the community that we live in. HKN members engage in community service projects on campus and around the Ann Arbor area. We have our own tutoring program for introductionary EECS courses, we assist the elderly with their technology at the Sequoia Place, we help clean up the Nichols Arboretum, and many more.</p>
		<h3>dB Cafe</h3>
		<p>We co-operate the DB Cafe with the U of M student branch of IEEE. Located in the lobby of the EECS building, we serve coffe, pizza, bagels, and many other snacks to students, faculty, and staff.</p>
	</div>
	<div class='col-sm-4'>
		<img class="img-responsive center-block logo eecs-logo" src="{%static 'img/eecs-logo-v.png'%}">
	</div>
</div>
<hr>
<div class='row'>
	<div class='col-sm-8'>
		<h2>Eta Kappa Nu</h2>
		<p>Eta Kappa Nu is the electrical and computer engineering honor society of the Institute of Electrical and Electronics Engineers (IEEE). Eta Kappa Nu was founded by Maurice Carr at the University of Illinois in 1904. Since then over 200 student chapters have been formed and over 200,000 lifetime members have been inducted. All members of HKN have a high scholastic rank, possess an unimpeachable character, and work in harmony with all types of people - these are the qualities that HKN founded itself on. In addition,IEEE-HKN publishes a digital magazine, The Bridge, three times a year - the current issue can be read <a href="http://www.ieee.org/education_careers/education/ieee_hkn/bridge/index.html">here</a>.</p>
	</div>
	<div class='col-sm-4'>
		<img class="img-responsive center-block logo" src="{%static 'img/emblem-small.png'%}">
	</div>
</div>
{% endblock %}