{% extends 'base.html' %}

{%block content %}
<div class='container'>
	<h1>Corporate Involvement</h1>
	<p class='lead'>HKN recruiting the best and brightest students across the electrical engineering, computer engineering, and computer science fields. The election process into HKN demands a balance of academics, character, and community service in all of its members.</p>
	<h3>Resumes</h3>
	<a class='btn btn-primary' ref="/media/HKN_resumes_by_year.zip">Resumes By Year</a>
	<a class='btn btn-primary' href="/media/HKN_resumes_by_major.zip">Resumes By Major</a>
	<h3>Sponsorships</h3>
</div>
{% endblock %}