{% extends 'base.html' %}
{% load staticfiles %}

{%block content %}
<h1>Corporate Involvement</h1>
<p class='lead'>HKN recruits the best and brightest electrical engineering, computer engineering, and computer science students at the University of Michigan. HKN demands a balance of academics, character, and community service in all of its members. To begin collaborating with HKN, <b><i>contact hkn-corporate@umich.edu</i></b></p>

<div class='jumbotron pictures'>
	<div class='row'>
		<div class='col-sm-4'>
			<img class="img-responsive" src="{%static 'img/pic1.jpg'%}">
		</div>
		<div class='col-sm-4'>
			<img class="img-responsive" src="{%static 'img/pic7.jpg'%}">
		</div>
		<div class='col-sm-4'>
			<img class="img-responsive" src="{%static 'img/pic6.jpg'%}">
		</div>
	</div>
</div>

<p>HKN collaborates with over 20 companies every semester for various sponsorships and campus events. HKN hosts tech talks, advertises on campus, and has helped to bring together students and companies for many years.</p>

<h3>Resumes</h3>
<p>We compile the resumes of our members every semester. This includes entirely EECS majors, and students who are looking for full-time, internship, and co-op positions.</p>
<a class='btn btn-primary' href="/media/HKN_resumes_by_year.zip">Resumes By Year</a>
<a class='btn btn-primary' href="/media/HKN_resumes_by_major.zip">Resumes By Major</a>
<h3>Sponsorships</h3>
<p>Many companies make an HKN sponsorship a part of their campus recruiting efforts. Because of our campus presence, HKN is able to get the word out and help bring together interested students and companies. With an HKN sponsorship, companies get publicity in the heart of the engineering campus and the tax-deductible money goes towards helping our society grow to serve the University and the community better. There are many options for a sponsorship with HKN outlined below.</p>

<h4>Meeting Presentation</h4>
<p>Your company gets the opportunity to present at the beginning of an HKN meeting. This is a great way to get your company presence out to a large group of top-ranked EECS students. HKN will provide food and refreshments, as well as arranging any other details. The average attendance to our meetings is 70-90 members. The cost of a meeting presentation is $550.<p>
<h4>Tech Talk</h4>
<p>A tech talk is a recruiting event where students will have an opportunity to personally meet your company and attend a presentation. Usually, this will take place early in the afternoon or in the evening on North Campus. This is a great way to get potential employees excited about your company, speak with them on an individual basis afterwards, and collect resumes.</p>
<p>HKN works to coordinate the room and food for the event, as well as advertise on campus. HKN members also get emails about all of the tech talks which we host. Further details can be worked out on a case-to-case basis. Attendance depends on timing and your company's campus presence, but 30-40 students is the average attendance. The standard cost of a tech talk is $350.</p>
<h4>Pizza Sponsorship</h4>
<p>Another great way to get your name out there is through a pizza sponsorship. HKN will give each student a free slice of pizza around lunch time, for as long as it lasts. Students are always pleased to hear that their lunch has already been paid for, so go ahead and sponsor one. This is also a great way to advertise a tech talk.<p>
<p>	1 Shift: $375, 2 Shifts: $700, 3 Shifts: $1000</p>

<h3>Job Postings</h3>
<p>Also, feel free to email hkn-corporate@umich.edu with any open job descriptions. We will propagate these emails to the rest of the members, who can then contact you directly.</p>
{% endblock %}