{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block error_msg %}
{% if error %}
	<div class="alert alert-warning">
  		<strong>{{error_msg}}</strong>
	</div>
{% endif %}
{% endblock %}

{%block content %}
{% if new_members_submitted %}
	<div class="alert alert-success">
  		<strong>You have successfully created new members.</strong>
	</div>
{% endif %}
<h1>Create New Electees</h1>
<p>To create new electees, enter there uniqnames here seperated by commas</p>
<form method='POST' action=''>{% csrf_token %}
	{{form_electee|crispy}}
	<input class='btn btn-primary' type='submit' value='Submit' />
</form>
<hr>
<h1>Create New Actives</h1>
<p>To create new actives, enter there uniqnames here seperated by commas</p>
<form method='POST' action=''>{% csrf_token %}
	{{form_active|crispy}}
	<input class='btn btn-primary' type='submit' value='Submit' />
</form>
<hr>
<div class='container'>
<div class='jumbotron'>
<h3>Todo List</h3>
<ul>
	<li>Don't have to pick a date for the datepickers</li>
	<li>If login was unsuccessful, then show messege</li>
	<li>We have is_valid_data() funcs but don't do anything if it isn't valid</li>
	<li>Make images load faster</li>
	<li>Editing profile currently does not delete old profile pic or resume</li>
</ul>
<h3>Done</h3>
<ul>
	<li>Validate resume is a pdf</li>
	<li>Added favicon</li>
	<li>Clean new member submit text</li>
	<li>Resume Zips</li>
	<li>Check that the uniqname doesn't already exist when creating a new member</li>
</ul>
</div>
</div>
{% endblock %}