{#
This is super ugly because I couldn't figure out a way for Django to use multi-line if-statement.
If I add line break in the middle of if ... and ... the template will be interpreted as something
 weird.
#}
{% if electee.electee_interview and electee.electee_exam and electee.dues %}
    {% if electee.member.is_undergraduate %}
        {# This layer is for all Undergraduates #}
        {% if electee.num_service_hours_approved >= requirements.C_UG_TOTAL_HOURS.num_required and electee.num_socials_approved >= requirements.A_UG_SOCIAL.num_required %}
            {# For qualified Undergraduates #}
            <form action="{% url 'electee_convert' e.member.uniqname %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Convert" class="btn btn-primary"/>
            </form>
        {% else %}
            {# For not qualified Undergraduates #}
            <button type="button" class="btn btn-secondary" disabled>Convert</button>
        {% endif %}
    {% elif electee.num_service_hours_approved >= requirements.D_G_TOTAL_HOURS.num_required and electee.num_socials_approved >= requirements.B_G_SOCIAL.num_required %}
        {# This is for qualified Graduates #}
        <form action="{% url 'electee_convert' e.member.uniqname %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Convert" class="btn btn-primary"/>
        </form>
    {% else %}
        {# This is for not qualified Graduates #}
        <button type="button" class="btn btn-secondary" disabled>Convert</button>
    {% endif %}
{% else %}
    <button type="button" class="btn btn-secondary" disabled>Convert</button>
{% endif %}