{% extends 'base.html' %}
{% load staticfiles %}

{% block error_msg %}
{% if error %}
	<div class="alert alert-warning">
  		<strong>{{error_msg}}</strong>
	</div>
{% endif %}
{% endblock %}

{%block content %}
{% if not error %}
<h1>Election Nominations</h1>
<p>Elections are scheduled for <b>6pm on Friday April 8th</b>. To nominate yourself or another member, please click <a href="http://bit.ly/HKNBENominations">http://bit.ly/HKNBENominations</a>. Please review the <a href="https://docs.google.com/document/d/1nUjRIN9ok2bQYrobuP4rvTSgDoTVrxbg0ge3vrhMp9s/edit?usp=sharing">elections guide</a> to see each position's responsibilities as well as the thoughts of the current and former office holders.<p>

<p>Should you have any questions about elections, please don't hesitate to contact our Elections Chair, Michael Benson (mlbenson@umich.edu)<p>
<div class="embed-responsive embed-responsive-16by9">
 	<iframe src="https://docs.google.com/document/d/1Iyw8ZLDpue0ek95w_m1FjTB7ziouxsNGRPz75mD1zWg/pub?embedded=true"></iframe>
</div>
{% endif %}
{% endblock %}