{% extends 'base.html' %}
{% load staticfiles %}
{% block error_msg %}
{% if has_not_complete_profile %}
	<div class="alert alert-info">
  		<a class="btn btn-primary btn-sm btn-uncomplete-profile" href="{% url 'profile_edit' request.user.username %}">Edit Profile</a>	  		
  		<strong>Your profile is incomplete, update your profile now!</strong> Your profile will not appear in the members list until you complete your profile.
	</div>
{% endif %}
{% endblock %}

{%block content %}
<section class="header">
	<div class='jumbotron' id="home-banner">
		<div class="container home-title-container">
		<h1 class="home-title">Eta Kappa Nu</h1>
		<h2 class="home-title-2">Beta-Epsilon Chapter at the University of Michigan</h2>
		</div>
	</div>
</section>
<section class="main">
	<a class="arrow-wrap scroll-down-arrow-wrap" href="#content">
	    <span class="arrow scroll-down-arrow"></span>
	</a>
</section>
<section id="content">

<div class='container text-center second-banner'>
	
	<div class='row'>
		<div class='col-sm-4 col1'>
			<img class="img-responsive rounded-img center-block" src="{%static 'img/ic_school_black_24px.svg'%}" alt="">
		</div>
		<div class='col-sm-4 col2'>
			<img class="img-responsive rounded-img center-block" src="{%static 'img/ic_business_center_black_24px.svg'%}" alt="">
		</div>
		<div class='col-sm-4 col3'>
			<img class="img-responsive rounded-img center-block" src="{%static 'img/ic_people_black_24px.svg'%}" alt="">
		</div>
	</div>

	<div class='row'>
		<div class='col-sm-4 col1'>
			<h1 class='three-col-header'>Scholarship</h1>
		</div>
		<div class='col-sm-4 col2'>
			<h1 class='three-col-header'>Professionalism</h1>
		</div>
		<div class='col-sm-4 col3'>
			<h1 class='three-col-header'>Character</h1>
		</div>
	</div>

	<div class='row'>
		<div class='col-sm-4 col1'>
			<h2 class='three-col-subheader'>The Beta-Epsilon chapter of Eta Kappa Nu (HKN) is composed of the top electrical, computer, and computer science engineers at the University of Michigan.</h2>
		</div>
		<div class='col-sm-4 col2'>
			<h2 class='three-col-subheader'>We collabortate with companies to speak at our meetings, as well as, host tech talks for the general campus community. </h2>
		</div>
		<div class='col-sm-4 col3'>
			<h2 class='three-col-subheader'>We serve our community by operating the fully student-run dB Cafe, holding community service projects around Ann Arbor, and orginizing community events to encourage collaboration amoung the students and faculty.</h2>
		</div>
	</div>
</div>

<div class='container'>
	{% include 'picture_carousel.html' %}
</div>
</section>

<section id="calendar">
<div class='container'>
	<div class='row'>
		<div class='col-sm-12'>
			<h2 class="events-title">Event Calendar</h2>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTz=0&amp;height=690&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;
				src=3fek7mnb9nbp4fbubo611u5uns%40group.calendar.google.com&amp;color=%236B3304&amp;src=77pcfkn2qivvtvvkgacu58bf00%40group.calendar.google.com&amp;color=%23711616&amp;src=7djnp36aq6lj3robnsied6htc4%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=cm8srqsl1no2hdl90oh14s0ao8%40group.calendar.google.com&amp;color=%23125A12&amp;src=ja0cqsoik9kks8qsppctjmrj8c%40group.calendar.google.com&amp;color=%2328754E&amp;src=f2rgcm1h48jmdloql1hfel7vuk%40group.calendar.google.com&amp;color=%23333333&amp;src=ig3go5tuho3j3p7vtj17q0fgv0%40group.calendar.google.com&amp;color=%23B1365F&amp;src=jhjbjs9j2k0pa1qc4b462ob39o%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FNew_York">
			</iframe>
		</div>
	</div>
</div>
</div>
</section>

<script>
//this is where we apply opacity to the arrow
$(window).scroll( function(){

  //get scroll position
  var topWindow = $(window).scrollTop();
  //multiply by 1.5 so the arrow will become transparent half-way up the page
  var topWindow = topWindow * 1.5;
  
  //get height of window
  var windowHeight = $(window).height();
      
  //set position as percentage of how far the user has scrolled 
  var position = topWindow / windowHeight;
  //invert the percentage
  position = 1 - position;

  //define arrow opacity as based on how far up the page the user has scrolled
  //no scrolling = 1, half-way up the page = 0
  $('.scroll-down-arrow-wrap').css('opacity', position);

});

$(function() {
  $('.scroll-down-arrow-wrap').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top - 50 /*added 50 here for fixed nav bar*/
        }, 1000);
        return false;
      }
    }
  });
});

// $(function() {
//   $('.col1').hover(function() {
//     $('.col1').css('background-color', '#1E1F24');
//   }, function() {
//     // on mouseout, reset the background colour
//     $('.col1').css('background-color', '');
//   });
// });

// $(function() {
//   $('.col2').hover(function() {
//     $('.col2').css('background-color', '#1E1F24');
//   }, function() {
//     // on mouseout, reset the background colour
//     $('.col2').css('background-color', '');
//   });
// });

// $(function() {
//   $('.col3').hover(function() {
//     $('.col3').css('background-color', '#1E1F24');
//   }, function() {
//     // on mouseout, reset the background colour
//     $('.col3').css('background-color', '');
//   });
// });

</script>
{% endblock %}