{% extends 'base.html' %}

{%block content %}
<h1>Home.html</h1>
<div class='container'>
<div class='jumbotron'>
<h3>Todo List</h3>
<ul>
	<li>Don't have to pick a date for the datepickers</li>
	<li>If login was unsuccessful, then show messege</li>
	<li>We have is_valid_data() funcs but don't do anything if it isn't valid</li>
	<li>Make images load faster</li>
	<li>Editing profile currently does not delete old profile pic or resume</li>
</ul>
<h3>Done</h3>
<ul>
	<li>Validate resume is a pdf</li>
	<li>Added favicon</li>
	<li>Clean new member submit text</li>
	<li>Resume Zips</li>
	<li>Check that the uniqname doesn't already exist when creating a new member</li>
</ul>
</div>
</div>
{% endblock %}