<!-- Static navbar -->
{% load hkn_tags %}
<nav class="navbar navbar-default navbar-static-top ">
    <div class="container">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">HKN - BE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'leadership' %}">Leadership</a></li>
                <li><a href="{% url 'corporate' %}">Corporate</a></li>
                <li><a href="{% url 'tutoring' %}">Tutoring</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'member_list' %}">Members</a></li>
                    <li><a href="{% url 'mentoring_competition' %}">Mentoring Competition</a></li>
                    <li><a href="{% url 'elections' %}">Elections</a></li>                {% endif %}
                {% if request.user.username|is_officer or request.user.is_superuser %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Electee Management
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'edit_electee_requirements' %}">Edit Electee
                                Requirements</a></li>
                            <li><a href="{% url 'all_electees' %}">All Electee's Progess</a></li>
                            <li><a href="{% url 'electee_submission_approval' %}">Approve Electee
                                Socials/Hours</a></li>
                            <li><a href="{% url 'electee_turn_ins' %}">Mark Electee Turn Ins</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            dBCafe
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'items_list' %}">Items</a></li>
                            <li><a href="{% url 'sales' %}">Sales</a></li>
                            <li><a href="{% url 'stats' %}">Stats</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Tools
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'create_new_members' %}">Create New Members</a></li>

                            {% if request.user.is_superuser %}
                                <li><a href="{% url 'edit_leadership' %}">Change Leadership</a></li>
                                <li><a href="{% url 'misc_tools' %}">Misc Tools</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'profile' request.user %}">{{ request.user }}</a></li>
                    <li><a href="{% url 'auth:logout' %}?next=/">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'social:begin' 'google-oauth2' %}">Login</a></li>
                {% endif %}
            </ul>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>