{% extends 'base.html' %}
{% load staticfiles %}

{% block error_msg %}
{% if error %}
	<div class="alert alert-warning">
  		<strong>{{error_msg}}</strong>
	</div>
{% endif %}
{% endblock %}

{%block content %}
{% if not error %}
{% if profile_saved %}
	<div class="alert alert-success">
  		<strong>You have successfully edited your profile.</strong>
	</div>
{% endif %}
	<div class="row">
	    <div class="col-sm-9 col-md-11 vcenter">
			<h1 class="profile-name">{{profile.first_name}} {{profile.last_name}}</h1>
	    </div><!--
	--><div class="col-sm-3 col-md-1 vcenter">
			{% if is_curr_user %}
				<a class="btn btn-primary" href="{% url 'profile_edit' profile.uniqname %}">Edit Profile</a>
			{% endif %}
		</div>
	</div>

	<div class='row'>
		<div class='col-sm-6 col-sm-offset-3'>
			{% if profile.profile_pic %}
			<img class="img-responsive img-rounded center-block profile-pic" src="{{profile.profile_pic.url}}">
			{% else %}
			<img class="img-responsive center-block profile-pic" src="{%static 'img/default_profile_pic.jpg'%}">
			{% endif %}		
		</div>
	</div>
	<hr>
	<div class='row'>
		<div class='col-sm-8 col-sm-offset-2'>
		<table class="table borderless">
			<tr>
				<td><h4><b>Name:</b></h4></td>
				<td class='td-right'><h4>{{profile.first_name}} {{profile.last_name}}</h4></td>
			</tr>
			<tr>
				<td><h4><b>Major:</b></h4></td>
				<td class='td-right'><h4>{{profile.get_major_display}}</h4></td>
			</tr>
			<tr>
				<td><h4><b>Educatione Level:</b></h4></td>
				<td class='td-right'><h4>{{profile.get_edu_level_display}}</h4></td>
			</tr>
			<tr>
				<td><h4><b>Expected Grad Date:</b></h4></td>
				<td class='td-right'><h4>{{profile.expected_grad_date}}</h4></td>
			</tr>
			<tr>
				<td><h4><b>Resume:</b></h4></td>
				{% if profile.resume %}
				<td class='td-right'><a href="{{profile.resume.url}}"><h4>Link</h4></a></td>
				{% else %}
				<td class='td-right'><h4>No resume uploaded</h4></td>
				{% endif %}	
			</tr>
		</table>
	</div>
</div>
{% if electee_progress %}
	<hr>

<div>
	<div class='row'>
	<div class='col-sm-8 col-sm-offset-2'>
		<h2>Electee Progress</h2>

		{% if submit %}
			<a class="btn btn-primary" href="{% url 'submit_service_hours' %}">Submit Service Hours</a>
		{% endif %}
		{% if submit %}
			<a class="btn btn-primary" href="{% url 'submit_social' %}">Submit Social</a>
		{% endif %}
		<hr>
		<div id="content">
		    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
		        <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
		        <li><a href="#socials" data-toggle="tab">Socials</a></li>
		        <li><a href="#projects" data-toggle="tab">Projects</a></li>
		    </ul>
		    <div id="my-tab-content" class="tab-content">
		        <div class="tab-pane active" id="summary">
		            <h2>Progress</h2>
		            	<table class="table">
							<tr>
								<td>Number of Socials Approved: </td>
								<td>{{e.num_socials_approved}} </td>
								<td>{{requirements.A_UG_SOCIAL.num_required}}</td>
							</tr>
							<tr>
								<td>Number of Socials Total: </td>
								<td>{{e.num_socials_total}} </td>
								<td>{{requirements.A_UG_SOCIAL.num_required}}</td>
							</tr>
							<tr>
								<td>Number of Service Hours Approved: </td>
								<td>{{e.num_service_hours_approved}} </td>
								<td>{{requirements.C_UG_TOTAL_HOURS.num_required}}</td>
							</tr>
							<tr>
								<td>Number of Service Hours Total: </td>
								<td>{{e.num_service_hours_total}} </td>
								<td>{{requirements.C_UG_TOTAL_HOURS.num_required}}</td>
							</tr>
							<tr>
								<td>Number of Service Hours dB: </td>
								<td>{{e.num_service_hours_db}} </td>
								<td>{{requirements.E_UG_DB_HOURS.num_required}}</td>
							</tr>
							<tr>
								<td>Number of Service Hours HKN: </td>
								<td>{{e.num_service_hours_hkn}} </td>
							</tr>
							<tr>
								<td>Number of Service Hours External: </td>
								<td>{{e.num_service_hours_external}} </td>
								<td>{{requirements.G_UG_EXTERNAL_HOURS.num_required}}</td>
							</tr>
							<tr>
								<td>Electee Interview Complete: </td>
								<td>{{e.electee_interview}} </td>
							</tr>
							<tr>
								<td>Electee Exam Complete: </td>
								<td>{{e.electee_exam}} </td>
							</tr>
							<tr>
								<td>Dues Paid: </td>
								<td>{{e.dues}} </td>
							</tr>
							<tr>
								<td>Number of General Meetings Missed: </td>
								<td>{{e.general_meetings_missed}} </td>
							</tr>
						</table>
		        </div>
		        <div class="tab-pane" id="socials">
		            <h1>Socials</h1>
					<table class='table'>
						<tr>
							<th><h3>Social Name</h3></td>
							<th><h3>Approved?</h3></td>
						<tr>
					{% for s in socials %}
						<tr>
							<td>{{s.social_name}}</td>
							<td>{{s.approved}}</td>
						<tr>
					{% endfor %}
					</table>		       
				</div>
		        <div class="tab-pane" id="projects">
		            <h1>Projects</h1>
	            	<table class='table'>
	            		<tr>
							<th><h3>Project Name</h3></td>
							<th><h3>Project Type</h3></td>
							<th><h3>Number of Hours</h3></td>
							<th><h3>Approved?</h3></td>
						<tr>
						{% for p in projects %}
							<tr>
								<td>{{p.service_name}}</td>
								<td>{{p.service_type}}</td>
								<td>{{p.num_hours}}</td>
								<td>{{p.approved}}</td>
							<tr>
						{% endfor %}
					</table>
		        </div>
		    </div>
		</div>
	</div>
</div>


		<script type="text/javascript">
		    jQuery(document).ready(function ($) {
		        $('#tabs').tab();
		    });
		</script>    
</div> 
{% endif %}

{% endif %}
{% endblock %}
