{% extends 'base.html' %}
{% load staticfiles %}

{% block error_msg %}
{% if error %}
	<div class='container'>
		<div class="alert alert-warning">
	  		<strong>{{error_msg}}</strong>
		</div>
	</div>
{% endif %}
{% endblock %}

{%block content %}
{% if not error %}
<div class='container'>
	<div class="row">
	    <div class="col-sm-6 col-md-9 vcenter">
			<h1 class="profile-name">{{profile.first_name}} {{profile.last_name}}</h1>
	    </div><!--
	 --><div class="col-sm-3 col-md-2 vcenter">
	 		{% if electee_progress %}
				<a class="btn btn-info pull-left" href="{% url 'electee_progress' profile.uniqname %}">Electee Progress</a>
			{% endif %}
		</div><!--
	 --><div class="col-sm-3 col-md-1 vcenter">
			{% if is_curr_user %}
				<a class="btn btn-primary" href="{% url 'profile_edit' profile.uniqname %}">Edit Profile</a>
			{% endif %}
		</div>
	</div>

	{% if profile_saved %}
		<div class="alert alert-success">
	  		<strong>You have successfully edited your profile.</strong>
		</div>
	{% endif %}

	<div class='row'>
		<div class='col-sm-6 col-sm-offset-3'>
			{% if profile.profile_pic %}
			<img class="img-responsive img-rounded center-block profile-pic" src="{{profile.profile_pic.url}}">
			{% else %}
			<img class="img-responsive center-block profile-pic" src="{%static 'img/default_profile_pic.jpg'%}">
			{% endif %}		
		</div>
	</div>
	<hr>
	<div class='row'>
		<div class='col-sm-8 col-sm-offset-2'>
		<table class="table borderless">
			<tr>
				<td><h4><b>Name:</b></h4></td>
				<td class='td-right'><h4>{{profile.first_name}} {{profile.last_name}}</h4></td>
			</tr>
			<tr>
				<td><h4><b>Major:</b></h4></td>
				<td class='td-right'><h4>{{profile.get_major_display}}</h4></td>
			</tr>
			<tr>
				<td><h4><b>Educatione Level:</b></h4></td>
				<td class='td-right'><h4>{{profile.get_edu_level_display}}</h4></td>
			</tr>
			<tr>
				<td><h4><b>Expected Grad Date:</b></h4></td>
				<td class='td-right'><h4>{{profile.expected_grad_date}}</h4></td>
			</tr>
			<tr>
				<td><h4><b>Resume:</b></h4></td>
				{% if profile.resume %}
				<td class='td-right'><a href="{{profile.resume.url}}"><h4>Link</h4></a></td>
				{% else %}
				<td class='td-right'><h4>No resume uploaded</h4></td>
				{% endif %}	
			</tr>
		</table>
	</div>
	</div>
</div>
{% endif %}
{% endblock %}
