{% extends 'base.html' %}
{% load staticfiles %}

{% block error_msg %}
{% if error %}
	<div class="alert alert-warning">
  		<strong>{{error_msg}}</strong>
	</div>
{% endif %}
{% endblock %}

{%block content %}
{% if not error %}
{% if profile_saved %}
	<div class="alert alert-success">
  		<strong>You have successfully edited your profile.</strong>
	</div>
{% endif %}
	<div class="row">
	    <div class="col-sm-9 col-md-11 vcenter">
			<h1 class="profile-name">{{profile.first_name}} {{profile.last_name}}</h1>
	    </div><!--
	--><div class="col-sm-3 col-md-1 vcenter">
			{% if is_curr_user %}
				<a class="btn btn-primary" href="{% url 'profile_edit' profile.uniqname %}">Edit Profile</a>
			{% endif %}
		</div>
	</div>

	<div class='row'>
		<div class='col-sm-6 col-sm-offset-3'>
			{% if profile.profile_pic %}
			<img class="img-responsive img-rounded center-block profile-pic" src="{{profile.profile_pic.url}}">
			{% else %}
			<img class="img-responsive center-block profile-pic" src="{%static 'img/default_profile_pic.jpg'%}">
			{% endif %}		
		</div>
	</div>
	<hr>
	<div class='row'>
		<div class='col-sm-8 col-sm-offset-2'>
		<table class="table borderless">
			<tr>
				<td><h4><b>Name:</b></h4></td>
				<td class='td-right'><h4>{{profile.first_name}} {{profile.last_name}}</h4></td>
			</tr>
			<tr>
				<td><h4><b>Major:</b></h4></td>
				<td class='td-right'><h4>{{profile.get_major_display}}</h4></td>
			</tr>
			<tr>
				<td><h4><b>Educatione Level:</b></h4></td>
				<td class='td-right'><h4>{{profile.get_edu_level_display}}</h4></td>
			</tr>
			<tr>
				<td><h4><b>Expected Grad Date:</b></h4></td>
				<td class='td-right'><h4>{{profile.expected_grad_date}}</h4></td>
			</tr>
			<tr>
				<td><h4><b>Resume:</b></h4></td>
				{% if profile.resume %}
				<td class='td-right'><a href="{{profile.resume.url}}"><h4>Link</h4></a></td>
				{% else %}
				<td class='td-right'><h4>No resume uploaded</h4></td>
				{% endif %}	
			</tr>
		</table>
	</div>
</div>
{% if electee_progress %}
	<hr>

<div>
	<div class='row'>
	<div class='col-sm-8 col-sm-offset-2'>
		<h2>Electee Progress</h2>

		{% if submit %}
			<a class="btn btn-primary" href="{% url 'submit_service_hours' %}">Submit Service Hours</a>
		{% endif %}
		{% if submit %}
			<a class="btn btn-primary" href="{% url 'submit_social' %}">Submit Social</a>
		{% endif %}
		<hr>
		<div id="content">
		    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
		        <li class="active"><a href="#summary" data-toggle="tab">Approved</a></li>
		        <li><a href="#socials" data-toggle="tab">Socials</a></li>
		        <li><a href="#projects" data-toggle="tab">Projects</a></li>
		    </ul>
		    <div id="my-tab-content" class="tab-content">
		        <div class="tab-pane active" id="summary">
	            	<table class="table">
	            		<tr>
	            			<th><h3>Requirement</h3></th>
	            			<th><h3>Amount Completed</h3></th>
						<tr>
							<td><h4>Number of Socials Approved: </h4></td>
							<td><h4>{{e.num_socials_approved}} / 
		            			{% if profile.is_undergraduate %}
		            				{{requirements.A_UG_SOCIAL.num_required}}
		            				{% if e.num_socials_approved >= requirements.A_UG_SOCIAL.num_required%}
									<span class="glyphicon glyphicon-ok green"></span>
									{% endif %}
		            			{% else %}
		            				{{requirements.B_G_SOCIAL.num_required}}
		            				{% if e.num_socials_approved >= requirements.B_G_SOCIAL.num_required%}
									<span class="glyphicon glyphicon-ok green"></span>
									{% endif %}
		            			{% endif %}
		            		</h4>
		            		</td>
						</tr>
						<tr>
							<td><h4>Number of Service Hours Approved: </h4></td>
							<td><h4>{{e.num_service_hours_approved}} / 
		            			{% if profile.is_undergraduate %}
		            				{{requirements.C_UG_TOTAL_HOURS.num_required}}
		            				{% if e.num_service_hours_approved >= requirements.C_UG_TOTAL_HOURS.num_required%}
									<span class="glyphicon glyphicon-ok green"></span>
									{% endif %}
		            			{% else %}
		            				{{requirements.D_G_TOTAL_HOURS.num_required}}
		            				{% if e.num_service_hours_approved >= requirements.D_G_TOTAL_HOURS.num_required%}
									<span class="glyphicon glyphicon-ok green"></span>
									{% endif %}
		            			{% endif %}
		            		</h4>
		            		</td>
						</tr>
						<tr>
							<td><h4>dB Hours Submitted: </h4></td>
							<td><h4>{{e.num_service_hours_db}} / Maximum of  
		            			{% if profile.is_undergraduate %}
		            				{{requirements.E_UG_DB_HOURS.num_required}}
		            			{% else %}
		            				{{requirements.F_G_DB_HOURS.num_required}}
		            			{% endif %}</h4>
		            		</td>
						</tr>
						<tr>
							<td><h4>External Service Hours Submitted: </h4></td>
							<td><h4>{{e.num_service_hours_external}} / Maximum of  
		            			{% if profile.is_undergraduate %}
		            				{{requirements.G_UG_EXTERNAL_HOURS.num_required}}
		            			{% else %}
		            				{{requirements.H_G_EXTERNAL_HOURS.num_required}}
		            			{% endif %}</h4>
		            		</td>
						</tr>
						<tr>
							<td><h4>Electee Interview Complete: </h4></td>
							<td><h4>
								{% if e.electee_interview %}
									<span class="glyphicon glyphicon-ok green"></span>
								{% else %}
									<span class="glyphicon glyphicon-remove red"></span>
								{% endif %}
							 </h4></td>
						</tr>
						<tr>
							<td><h4>Electee Exam Complete: </h4></td>
							<td><h4>
								{% if e.electee_exam %}
									<span class="glyphicon glyphicon-ok green"></span>
								{% else %}
									<span class="glyphicon glyphicon-remove red"></span>
								{% endif %}
							 </h4></td>
						</tr>
						<tr>
							<td><h4>Dues Paid: </h4></td>
							<td><h4>
								{% if e.dues %}
									<span class="glyphicon glyphicon-ok green"></span>
								{% else %}
									<span class="glyphicon glyphicon-remove red"></span>
								{% endif %}
							 </h4></td>
						</tr>
					</table>
		        </div>
		        <div class="tab-pane" id="socials">
		            <h1>Socials</h1>
					<table class='table'>
						<tr>
							<th><h3>Social Name</h3></td>
							<th><h3>Submitted On</h3></td>
							<th><h3>Approved?</h3></td>
						<tr>
					{% for s in socials %}
						<tr>
							<td>{{s.social_name}}</td>
							<td>{{s.timestamp}}</td>
							<td>
								{% if s.approved %}
									<span class="glyphicon glyphicon-ok green"></span>
								{% else %}
									<p>Awaiting approval</p>
								{% endif %}
							</td>
						<tr>
					{% endfor %}
					</table>		       
				</div>
		        <div class="tab-pane" id="projects">
		            <h1>Projects</h1>
	            	<table class='table'>
	            		<tr>
							<th><h3>Project Name</h3></td>
							<th><h3>Submitted On</h3></td>
							<th><h3>Project Type</h3></td>
							<th><h3>Number of Hours</h3></td>
							<th><h3>Approved?</h3></td>
						<tr>
						{% for p in projects %}
							<tr>
								<td>{{p.service_name}}</td>
								<td>{{p.timestamp}}</td>
								<td>{{p.service_type}}</td>
								<td>{{p.num_hours}}</td>
								<td>
									{% if p.approved %}
										<span class="glyphicon glyphicon-ok green"></span>
									{% else %}
										<p>Awaiting approval</p>
									{% endif %}
								</td>
							<tr>
						{% endfor %}
					</table>
		        </div>
		    </div>
		</div>
	</div>
</div>


		<script type="text/javascript">
		    jQuery(document).ready(function ($) {
		        $('#tabs').tab();
		    });
		</script>    
</div> 
{% endif %}
<!-- 							<tr>
								<td>Number of Service Hours Total: </td>
								<td>{{e.num_service_hours_total}} </td>
								<td>{{requirements.C_UG_TOTAL_HOURS.num_required}}</td>
							</tr>
							<tr>
								<td>Number of General Meetings Missed: </td>
								<td>{{e.general_meetings_missed}} </td>
							</tr>

							<tr>
								<td>Number of Service Hours HKN: </td>
								<td>{{e.num_service_hours_hkn}} </td>
							</tr> -->
{% endif %}
{% endblock %}
