{% extends 'base.html' %}
{% load staticfiles %}

{% block error_msg %}
    {% if error %}
        <div class="alert alert-warning">
            <strong>{{ error_msg }}</strong>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if not error %}
        {% if profile_saved %}
            <div class="alert alert-success">
                <strong>You have successfully edited your profile.</strong>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-9 col-md-11 vcenter">
                <h1 class="profile-name">{{ profile.first_name }} {{ profile.last_name }}</h1>
            </div><!--
	-->
            <div class="col-sm-3 col-md-1 vcenter">
                {% if is_curr_user %}
                    <a class="btn btn-primary" href="{% url 'profile_edit' profile.uniqname %}">Edit
                        Profile</a>
                {% endif %}
            </div>
        </div>

        <div class='row'>
            <div class='col-sm-6 col-sm-offset-3'>
                {% if profile.profile_pic %}
                    <img class="img-responsive img-rounded center-block profile-pic"
                         src="{{ profile.profile_pic.url }}">
                {% else %}
                    <img class="img-responsive center-block profile-pic"
                         src="{% static 'img/default_profile_pic.jpg' %}">
                {% endif %}
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='col-sm-8 col-sm-offset-2'>
                <table class="table borderless">
                    <tr>
                        <td><h4><b>Name:</b></h4></td>
                        <td class='td-right'>
                            <h4>{{ profile.first_name }} {{ profile.last_name }}</h4></td>
                    </tr>
                    <tr>
                        <td><h4><b>Uniqname:</b></h4></td>
                        <td class='td-right'><h4>{{ profile.uniqname }}</h4></td>
                    </tr>
                    <tr>
                        <td><h4><b>Major:</b></h4></td>
                        <td class='td-right'><h4>{{ profile.get_major_display }}</h4></td>
                    </tr>
                    <tr>
                        <td><h4><b>Education Level:</b></h4></td>
                        <td class='td-right'><h4>{{ profile.get_edu_level_display }}</h4></td>
                    </tr>
                    <tr>
                        <td><h4><b>Graduation Date:</b></h4></td>
                        <td class='td-right'><h4>{{ profile.graduation_date }}</h4></td>
                    </tr>
                    <tr>
                        <td><h4><b>Resume:</b></h4></td>
                        {% if profile.resume %}
                            <td class='td-right'><a href="{{ profile.resume.url }}"><h4>Link</h4>
                            </a></td>
                        {% else %}
                            <td class='td-right'><h4>No resume uploaded</h4></td>
                        {% endif %}
                    </tr>
                </table>
            </div>
        </div>
        {% if electee_progress %}
            <hr>

            <div>
                <div class='row'>
                    <div class='col-sm-8 col-sm-offset-2'>
                        <h2>Electee Progress</h2>

                        {% if submit %}
                            <a class="btn btn-primary" href="{% url 'submit_service_hours' %}">Submit
                                Service Hours</a>
                            <a class="btn btn-primary" href="{% url 'submit_social' %}">Submit
                                Social</a>
                        {% else %}
                            <h2 class='red'>Complete your profile! You cannot submit service hours
                                or socials until you complete your profile</h2>
                        {% endif %}
                        <hr>
                        <div id="content">
                            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                                <li class="active"><a href="#summary" data-toggle="tab">Approved</a>
                                </li>
                                <li><a href="#socials" data-toggle="tab">Socials</a></li>
                                <li><a href="#projects" data-toggle="tab">Projects</a></li>
                            </ul>
                            <div id="my-tab-content" class="tab-content">
                                <div class="tab-pane active" id="summary">
                                    <table class="table">
                                        <tr>
                                            <th><h3>Requirement</h3></th>
                                            <th><h3>Amount Completed</h3></th>
                                        <tr>
                                            <td><h4>Number of Socials Approved: </h4></td>
                                            <td>
                                                <h4>{% include 'electee_social_progress.html' with electee=e requirements=requirements %}</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><h4>Number of Service Hours Approved: </h4></td>
                                            <td>
                                                <h4>{% include 'electee_service_hours_progress.html' with electee=e requirements=requirements %}
                                                </h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><h4>dB Hours Submitted: </h4></td>
                                            <td>
                                                <h4>{% include 'electee_db_hours_progress.html' with electee=e requirements=requirements %}</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><h4>External Service Hours Submitted: </h4></td>
                                            <td>
                                                <h4>{% include 'electee_external_hours_progress.html' with electee=e requirements=requirements %}</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><h4>Electee Interview Complete: </h4></td>
                                            <td>
                                                <h4>{% include 'electee_interview_complete.html' with electee=e %}</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><h4>Electee Exam Complete: </h4></td>
                                            <td>
                                                <h4>{% include 'electee_exam_complete.html' with electee=e %}</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><h4>Dues Paid: </h4></td>
                                            <td>
                                                <h4>{% include 'electee_dues_complete.html' with electee=e %}</h4>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="tab-pane" id="socials">
                                    <h1>Socials</h1>
                                    <table class='table'>
                                        <tr>
                                            <th><h3>Social Name</h3>
                                            </td>
                                            <th><h3>Submitted On</h3>
                                            </td>
                                            <th><h3>Approved?</h3>
                                            </td>
                                        <tr>
                                            {% for s in socials %}
                                                <tr>
                                                    <td>{{ s.social_name }}</td>
                                                    <td>{{ s.timestamp }}</td>
                                                    <td>
                                                        {% if s.approved %}
                                                            <span class="glyphicon glyphicon-ok green"></span>
                                                        {% else %}
                                                            <p>Awaiting approval</p>
                                                        {% endif %}
                                                    </td>
                                                <tr>
                                            {% endfor %}
                                    </table>
                                </div>
                                <div class="tab-pane" id="projects">
                                    <h1>Projects</h1>
                                    <table class='table'>
                                        <tr>
                                            <th><h3>Project Name</h3>
                                            </td>
                                            <th><h3>Submitted On</h3>
                                            </td>
                                            <th><h3>Project Type</h3>
                                            </td>
                                            <th><h3>Number of Hours</h3>
                                            </td>
                                            <th><h3>Approved?</h3>
                                            </td>
                                        <tr>
                                            {% for p in projects %}
                                                <tr>
                                                    <td>{{ p.service_name }}</td>
                                                    <td>{{ p.timestamp }}</td>
                                                    <td>{{ p.service_type }}</td>
                                                    <td>{{ p.num_hours }}</td>
                                                    <td>
                                                        {% if p.approved %}
                                                            <span class="glyphicon glyphicon-ok green"></span>
                                                        {% else %}
                                                            <p>Awaiting approval</p>
                                                        {% endif %}
                                                    </td>
                                                <tr>
                                            {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        $('#tabs').tab();
                    });
                </script>
            </div>
        {% endif %}

    {% endif %}
{% endblock %}
