{% extends 'base.html' %}

{% block content %}
    <h1>Electee Progess</h1>
    <table class="table table-hover">
        <tr>
            <th><h3>Name</h3></th>
            <th><h3>Socials</h3></th>
            <th><h3>Projects</h3></th>
            <th><h3>Electee Interview</h3></th>
            <th><h3>Electee Exam</h3></th>
            <th><h3>Dues</h3></th>
            <th><h3>Convert to Active</h3></th>
            <th><h3>Override</h3></th>
            <th><h3>Remove Electee</h3></th>
        </tr>
        {% for e in electee_list %}
            <tr>
                <td>
                    <a href="{% url 'profile' e.uniqname %}">{{ e.first_name }} {{ e.last_name }}
                        ({{ e.uniqname }})</a></td>

                <td>{% include 'electeeManagement/electee_social_progress.html' with electee=e %}</td>

                <td>{% include 'electeeManagement/electee_service_hours_progress.html' with electee=e %}</td>

                <td class='text-align-center'>
                    {% include 'electeeManagement/electee_interview_complete.html' with electee=e %}
                </td>
                <td class='text-align-center'>
                    {% include 'electeeManagement/electee_exam_complete.html' with electee=e %}
                </td>
                <td class='text-align-center'>
                    {% include 'electeeManagement/electee_dues_complete.html' with electee=e %}
                </td>
                <td class="text-align-center">
                    {% include 'electeeManagement/electee_convert.html' with electee=e %}
                </td>
                <td>
                    <form action="{% url 'electee_convert' e.uniqname %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Force Active" class="btn btn-danger" onclick="return confirm('Are you sure you want convert the electee with uniqname {{ e.uniqname }} to an active?')"/>
                    </form>
                </td>
                <td class="text-align-center">
                    <form action="{% url 'electee_remove' e.uniqname %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Remove" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove the electee with uniqname {{ e.uniqname }} from the website?')"/>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}