{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if service_hours_submitted %}
        <div class="alert alert-success">
            <strong>Successfully submitted service hours</strong>
        </div>
    {% endif %}

    <a class="btn btn-primary btn-sm" href="{% url 'profile' request.user %}">
        <span class="glyphicon glyphicon-arrow-left"></span> Back To Profile
    </a>

    <h3>Submit Service Hours</h3>
    <form method='POST' action=''>{% csrf_token %}
        {{ form|crispy }}
        <input class='btn btn-default' type='submit' value='Submit'/>
    </form>
{% endblock %}
