{% extends 'base.html' %}
{% load staticfiles %}

{% block error_msg %}
    {% if error %}
        <div class="alert alert-warning">
            <strong>{{ error_msg }}</strong>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if not error %}
        <h1>Awesome Actives</h1>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                    src="https://docs.google.com/spreadsheets/d/1kbet3DvvDcEwMvrh6gm1mZDLwhbixKcFJAsY-6m_PRM/pubhtml?widget=true&amp;headers=false"></iframe>
        </div>
    {% endif %}
{% endblock %}